.main-footer {
  color: white;
  background-color: #1976d2;
  padding-top: 0.5em;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
}
